.cv-container {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}

.cv-description {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
  padding: 28px;
  gap: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  height: fit-content;
  border: 2px solid #f1f1f1;
  background: #fafafa;

  p {
    text-indent: 30px;
  }

  p::first-letter {
    font-family: "Blanka", sans-serif;
    color: #38b6ff;
    font-size: 30px;
  }
}

// .cv-description p::first-letter {
//   font-size: 2em;
//   font-weight: bold;
// }

.cv-download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // margin: 8px;
  padding: 8px;
  position: relative;
  top: -120px;
  gap: 16px;

  img {
    height: 435px;
    margin: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    border: 2px solid #f1f1f1;
    z-index: 1;
  }
}

.button-download {
  border: 2px solid #f1f1f1;
  border-radius: 24px;
  margin: 0;
  padding: 14px 24px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #fff;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  }
}

.section-parcours {
  margin-bottom: 28px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: relative;
  top: -80px;
  border: 2px solid #f1f1f1;
  border-radius: 24px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  background: #fafafa;
}

.box-timeline {
  width: 25%;
  height: fit-content;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, #fafafa 0%, #fafafa 6%, #38b6ff 100%);
  position: relative;
  padding: 80px 0 250px 0;
  // margin-bottom: 100px;
  border-radius: 24px;

  h2,
  p,
  a {
    margin: 0 0 14px 0;
    padding: 0;
    border: none;
    font-size: inherit;
    background: none;
    line-height: normal;
    box-shadow: none;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  p:last-of-type {
    opacity: 0.5; /* Ajustez la valeur d'opacité selon vos besoins */
  }
}

/* Pour les boîtes alignées à gauche, on aligne le texte à droite */
.box.left h2,
.box.left p,
.box.left a {
  text-align: right !important;
  align-self: end;
}

/* Pour les boîtes alignées à droite, on aligne le texte à gauche */
.box.right h2,
.box.right p,
.box.right a {
  text-align: left !important;
  align-self: start;
}

.ligne {
  height: 1306px;
  width: 8px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.rond {
  width: 80px;
  height: 80px;
  border-radius: 24px;
  background: #fff;
  position: absolute;
  // border: 1px solid #000;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  border: 2px solid #f1f1f1;
}

.r1 {
  top: 80px;
}
.r2 {
  top: 386px;
}
.r3 {
  top: 692px;
}
.r4 {
  top: 1000px;
}
.r5 {
  top: 1306px;
}

.box {
  color: #333;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  border-radius: 24px;
  height: auto;
  background: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #f1f1f1;

  h2::first-letter {
    font-family: "Blanka", sans-serif;
    color: #38b6ff;
    font-size: 1.5em;
  }

  p {
    line-height: 20px;
    font-size: 18px;
  }

  .date {
    font-size: 14px;
    margin: 0 0 8px 0;
  }

  // .btn {
  //   display: block;
  //   background: midnightblue;
  //   padding: 10px;
  //   width: fit-content;
  //   text-align: center;
  //   color: #f1f1f1;
  //   text-decoration: none;
  //   border-radius: 3px;
  //   margin-top: 10px;
  // }
}

.b1 {
  top: 80px;
  left: calc(50% - 270px);
}

.b1 h2,
.b1 p,
.b1 p.date {
  display: none; /* Masque tous les h2 et p, y compris ceux avec la classe "date" */
}

.b1::after {
  content: "Bientot une prochaine poursuite d'etudes..."; /* Texte à afficher */
  color: #000; /* Couleur du texte (changez-la selon vos préférences) */
  font-size: clamp(18px, 2vw, 24px);
  text-align: center; /* Centre le texte à l'intérieur de l'élément */
}

.b2 {
  top: 386px;
  left: calc(50% + 270px);
}

.b3 {
  top: 692px;
  left: calc(50% - 270px);
}

.b4 {
  top: 1000px;
  left: calc(50% + 270px);
}

.b5 {
  top: 1306px;
  left: calc(50% - 270px);
}

@media (max-width: 1360px) {
  .cv-description {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 1180px) {
  .ligne {
    position: relative;
    left: -270px;
  }

  .rond {
    left: calc(50% - 270px);
  }

  .box {
    left: calc(50%);
  }

  .box.left h2,
  .box.left p,
  .box.left a {
    text-align: left !important; /* Le texte est aligné à droite */
    align-self: start !important;
  }
}

// .section-education {
//   text-align: center;

//   h2 {
//     font-size: 2rem;
//     margin-bottom: 1.5rem;
//   }

//   .education-container {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
//     gap: 20px; /* Espacement entre les colonnes */
//     justify-items: center;
//   }

//   .education-item {
//     background-color: #f9f9f9;
//     border-radius: 15px;
//     padding: 20px;
//     width: 100%;
//     max-width: 400px; /* Largeur maximum de chaque carte */
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
//     text-align: left;

//     h3 {
//       font-size: 1.2rem;
//       margin-bottom: 0.5rem;
//     }

//     p {
//       margin: 0;
//     }

//     .education-date {
//       margin-top: 10px;
//       font-size: 0.9rem;
//       color: #666;
//     }
//   }

//   .logo {
//     width: auto;
//     height: 50px;
//     margin-right: 10px;
//     background-color: transparent;
//   }
// }

@media (max-width: 320px) {
  .cv-container {
    flex-direction: column-reverse;
    margin: 28px 0;
  }

  .cv-download {
    top: -60px;
    height: 310px;

    img {
      height: 300px;
      width: auto;
    }
  }

  .cv-description {
    margin: 0;
    padding: 14px;
    // position: relative;
    // top: -66px;
  }

  .section-parcours {
    position: static;
    padding: 10px 0;
    margin-bottom: 28px;

    h2 {
      margin: 10px 0 20px;
    }
  }

  .box-timeline {
    width: 30%;
  }

  .ligne {
    height: 1230px;
    left: -100px;
    width: 6px;
    // width: 4px;
  }

  .rond {
    left: calc(50% - 100px);
    width: 20px;
    height: 20px;
    font-size: 10px;
  }

  .box-timeline {
    h2 {
      font-size: 10px;
      margin: 0 0 6px 0;
    }
  }

  .box {
    width: 176px;
    padding: 10px;
    min-height: 170px;

    .date {
      font-size: 8px;
      margin: 0 0 14px 0;
    }

    p {
      font-size: 10px;
      line-height: 1.2;
    }
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .cv-container {
    flex-direction: column-reverse;
    margin: 28px 0;
  }

  .cv-download {
    top: -60px;
    height: 310px;

    img {
      height: 300px;
      width: auto;
    }
  }

  .cv-description {
    margin: 0;
    padding: 14px;
    // position: relative;
    // top: -66px;
  }

  .section-parcours {
    position: static;
    padding: 10px 0;
    margin-bottom: 28px;

    h2 {
      margin: 10px 0 20px;
    }
  }

  .box-timeline {
    width: 30%;
  }

  .ligne {
    height: 1232px;
    left: -120px;
    width: 6px;
  }

  .rond {
    left: calc(50% - 120px);
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .box-timeline {
    h2 {
      font-size: 12px;
      margin: 0 0 6px 0;
    }
  }

  .box {
    width: 200px;
    padding: 10px;
    min-height: 170px;

    .date {
      font-size: 10px;
      margin: 0 0 14px 0;
    }

    p {
      font-size: 12px;
      line-height: 1.2;
    }
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .cv-container {
    flex-direction: column-reverse;
    margin: 28px 0;
  }

  .cv-download {
    top: -60px;
    height: 310px;

    img {
      height: 300px;
      width: auto;
    }
  }

  .cv-description {
    margin: 0;
    padding: 14px;
    // position: relative;
    // top: -66px;
  }

  .section-parcours {
    position: static;
    padding: 10px 0;
    margin-bottom: 28px;

    h2 {
      margin: 10px 0 20px;
    }
  }

  .box-timeline {
    width: 40%;
  }

  .ligne {
    height: 1234px;
    left: -140px;
    width: 6px;
  }

  .rond {
    left: calc(50% - 140px);
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .box-timeline {
    h2 {
      font-size: 12px;
      margin: 0 0 6px 0;
    }
  }

  .box {
    width: 224px;
    padding: 10px;
    min-height: 170px;

    .date {
      font-size: 10px;
      margin: 0 0 14px 0;
    }

    p {
      font-size: 12px;
      line-height: 1.2;
    }
  }
}

@media (min-width: 425px) and (max-width: 500px) {
  .cv-container {
    flex-direction: column-reverse;
    margin: 28px 0;
  }

  .cv-download {
    top: -60px;
    height: 310px;

    img {
      height: 300px;
      width: auto;
    }
  }

  .cv-description {
    margin: 0;
    padding: 14px;
    // position: relative;
    // top: -66px;
  }

  .section-parcours {
    position: static;
    padding: 10px 0;
    margin-bottom: 28px;

    h2 {
      margin: 10px 0 20px;
    }
  }

  .box-timeline {
    width: 40%;
  }

  .ligne {
    height: 1238px;
    left: -150px;
    width: 6px;
  }

  .rond {
    left: calc(50% - 150px);
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .box-timeline {
    h2 {
      font-size: 14px;
      margin: 0 0 6px 0;
    }
  }

  .box {
    width: 236px;
    padding: 10px;
    min-height: 170px;

    .date {
      font-size: 12px;
      margin: 0 0 14px 0;
    }

    p {
      font-size: 14px;
      line-height: 1.2;
    }
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .cv-container {
    flex-direction: row;
  }
  .cv-description {
    margin: 18px 0;
    padding: 12px;

    p {
      font-size: 14px;
      padding: 0;
    }
  }

  .cv-download {
    top: -82px;
    margin: 0;

    img {
      height: 200px;
    }

    .button-download {
      padding: 10px 20px;
    }
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .cv-container {
    flex-direction: row;
  }

  .cv-description {
    margin: 24px 0;
    padding: 12px;

    // p {
    //   font-size: 14px;
    //   padding: 0;
    // }
  }

  .cv-download {
    top: -106px;
    margin: 0;

    img {
      height: 200px;
    }

    .button-download {
      padding: 12px 22px;
    }
  }
}

@media (min-width: 600px) and (max-width: 675px) {
  .cv-description {
    p {
      font-size: 18px;
      padding: 0;
    }
  }
}

@media (min-width: 675px) and (max-width: 700px) {
  .cv-description {
    p {
      font-size: 18px;
    }
  }
}

@media (min-width: 500px) and (max-width: 550px) {
  // .cv-container {
  //   flex-direction: column-reverse;
  //   margin: 28px 0;
  // }

  // .cv-download {
  //   top: -60px;
  //   height: 310px;

  //   img {
  //     height: 300px;
  //     width: auto;
  //   }
  // }

  // .cv-description {
  //   margin: 0;
  //   padding: 14px;
  //   // position: relative;
  //   // top: -66px;
  // }

  .section-parcours {
    position: static;
    padding: 10px 0;
    margin-bottom: 28px;

    h2 {
      margin: 10px 0 20px;
    }
  }

  .box-timeline {
    width: 40%;
  }

  .ligne {
    height: 1280px;
    left: -170px;
    width: 6px;
  }

  .rond {
    left: calc(50% - 170px);
    width: 70px;
    height: 70px;
    font-size: 30px;
  }

  .box-timeline {
    h2 {
      font-size: 16px;
      margin: 0 0 6px 0;
    }
  }

  .box {
    width: 254px;
    padding: 10px;
    min-height: 170px;

    .date {
      font-size: 14px;
      margin: 0 0 14px 0;
    }

    p {
      font-size: 16px;
      line-height: 1.2;
    }
  }
}

@media (min-width: 550px) and (max-width: 600px) {
  .section-parcours {
    position: static;
    padding: 10px 0;
    margin-bottom: 28px;

    h2 {
      margin: 10px 0 20px;
    }
  }

  .box-timeline {
    width: 40%;
  }

  .ligne {
    height: 1306px;
    left: -188px;
    width: 6px;
  }

  .rond {
    left: calc(50% - 188px);
    width: 80px;
    height: 80px;
    font-size: 40px;
  }

  .box-timeline {
    h2 {
      font-size: 16px;
      margin: 0 0 6px 0;
    }
  }

  .box {
    width: 280px;
    padding: 10px;
    min-height: 170px;

    .date {
      font-size: 14px;
      margin: 0 0 14px 0;
    }

    p {
      font-size: 16px;
      line-height: 1.2;
    }
  }
}

@media (min-width: 600px) and (max-width: 650px) {
  .section-parcours {
    position: static;
    padding: 10px 0;
    margin-bottom: 28px;
  }

  .rond {
    left: calc(50% - 222px);
  }

  .ligne {
    left: -222px;
  }

  .box-timeline {
    width: 35%;
  }

  .box {
    width: 346px;
  }
}

@media (min-width: 650px) and (max-width: 700px) {
  .section-parcours {
    position: static;
    padding: 10px 0;
    margin-bottom: 28px;
  }
  .rond {
    left: calc(50% - 240px);
  }

  .ligne {
    left: -240px;
  }

  .box-timeline {
    width: 35%;
  }

  .box {
    width: 380px;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .cv-container {
    flex-direction: row;
  }

  .cv-description {
    margin: 24px 0;
    padding: 12px;

    p {
      font-size: 18px;
      padding: 0;
    }
  }

  .cv-download {
    top: -60px;

    img {
      height: 200px;
    }

    .button-download {
      padding: 14px 24px;
    }
  }

  .section-parcours {
    position: static;
    //   padding: 10px 0;
    margin-bottom: 28px;

    //   h2 {
    //     margin: 10px 0 20px;
    //   }
    // }

    // .box-timeline {
    //   width: 40%;
    // }

    // .ligne {
    //   height: 940px;
    //   left: -170px;
    //   width: 6px;
    // }

    // .box-timeline {
    //   h2 {
    //     font-size: 16px;
    //     margin: 0 0 6px 0;
    //   }
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .cv-description {
    margin: 30px 0;
    p {
      font-size: 18px;
      padding: 0;
    }
  }

  .cv-download {
    top: -76px;

    img {
      height: 300px;
    }
  }
}
