.cv-container {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}

.cv-description {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
  padding: 28px;
  gap: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  height: fit-content;
  border: 2px solid #f1f1f1;

  p {
    text-indent: 54px;
  }
}

// .cv-description p::first-letter {
//   font-size: 2em;
//   font-weight: bold;
// }

.cv-download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  position: relative;
  top: -99px;
  gap: 24px;

  img {
    height: 435px;
    margin: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    border: 2px solid #f1f1f1;
  }
}

.button-download {
  border: 2px solid #f1f1f1;
  border-radius: 24px;
  margin: 0;
  padding: 14px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  }
}

.section-parcours {
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -80px;
  border: 2px solid #f1f1f1;
  border-radius: 24px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.box-timeline {
  width: 25%;
  height: fit-content;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 21%, rgba(241, 241, 241, 1) 100%);
  position: relative;
  padding: 80px 0 250px 0;
  // margin-bottom: 100px;
  border-radius: 24px;

  h2,
  p,
  a {
    margin: 0 0 14px 0;
    padding: 0;
    border: none;
    font-size: inherit;
    background: none;
    line-height: normal;
    box-shadow: none;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  p:last-of-type {
    opacity: 0.5; /* Ajustez la valeur d'opacité selon vos besoins */
  }
}

/* Pour les boîtes alignées à gauche, on aligne le texte à droite */
.box.left h2,
.box.left p,
.box.left a {
  text-align: right !important;
  align-self: end;
}

/* Pour les boîtes alignées à droite, on aligne le texte à gauche */
.box.right h2,
.box.right p,
.box.right a {
  text-align: left !important;
  align-self: start;
}

.ligne {
  height: 1000px;
  width: 8px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.rond {
  width: 80px;
  height: 80px;
  border-radius: 24px;
  background: #fff;
  position: absolute;
  // border: 1px solid #000;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  border: 2px solid #f1f1f1;
}

.r1 {
  top: 80px;
}
.r2 {
  top: 386px;
}
.r3 {
  top: 692px;
}
.r4 {
  top: 1000px;
}

.box {
  color: #333;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  border-radius: 24px;
  height: auto;
  background: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #f1f1f1;

  p {
    line-height: 20px;
    font-size: 18px;
  }

  .date {
    font-size: 14px;
    margin: 0 0 8px 0;
  }

  // .btn {
  //   display: block;
  //   background: midnightblue;
  //   padding: 10px;
  //   width: fit-content;
  //   text-align: center;
  //   color: #f1f1f1;
  //   text-decoration: none;
  //   border-radius: 3px;
  //   margin-top: 10px;
  // }
}

.b1 {
  top: 80px;
  left: calc(50% - 270px);
}

.b2 {
  top: 386px;
  left: calc(50% + 270px);
}

.b3 {
  top: 692px;
  left: calc(50% - 270px);
}

.b4 {
  top: 1000px;
  left: calc(50% + 270px);
}

@media screen and (max-width: 1180px) {
  .ligne {
    position: relative;
    left: -270px;
  }

  .rond {
    left: calc(50% - 270px);
  }

  .box {
    left: calc(50%);
  }

  .box.left h2,
  .box.left p,
  .box.left a {
    text-align: left !important; /* Le texte est aligné à droite */
    align-self: start !important;
  }
}

// .section-education {
//   text-align: center;

//   h2 {
//     font-size: 2rem;
//     margin-bottom: 1.5rem;
//   }

//   .education-container {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
//     gap: 20px; /* Espacement entre les colonnes */
//     justify-items: center;
//   }

//   .education-item {
//     background-color: #f9f9f9;
//     border-radius: 15px;
//     padding: 20px;
//     width: 100%;
//     max-width: 400px; /* Largeur maximum de chaque carte */
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
//     text-align: left;

//     h3 {
//       font-size: 1.2rem;
//       margin-bottom: 0.5rem;
//     }

//     p {
//       margin: 0;
//     }

//     .education-date {
//       margin-top: 10px;
//       font-size: 0.9rem;
//       color: #666;
//     }
//   }

//   .logo {
//     width: auto;
//     height: 50px;
//     margin-right: 10px;
//     background-color: transparent;
//   }
// }
