// Specific CSS for your home-page
* {
  box-shadow: 0 0 0 3px red inset;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: lato, sans-serif;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: calc(100% - 240px);
  max-width: 100%;
  margin: 0 auto;
}

.section-presentation {
  display: flex;
  justify-content: space-between;
  margin: 54px 0;
  padding: 28px;
  align-items: center;
  border: 2px solid #f1f1f1;
  border-radius: 24px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);

  .text-content-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 8px;
    padding: 24px;
    margin: 24px;
    max-width: 650px;
    // border: 2px solid #f1f1f1;
    // border-radius: 24px;
    height: fit-content;
    // transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    // &:hover {
    //   transform: scale(1.1);
    //   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    // }

    p {
      text-indent: 54px;
    }

    a {
      border: 2px solid #f1f1f1;
      border-radius: 24px;
      margin: 30px;
      padding: 14px;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.section-skills {
  display: flex;
  justify-content: center;
  margin: 54px 0;
  padding: 28px;
  border: 2px solid #f1f1f1;
  border-radius: 24px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);

  .skills-content {
    width: 75%;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 8px;
    padding: 8px;
    z-index: 2;
    gap: 18px;

    .front-end,
    .back-end,
    .outils {
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin: 8px;
      padding: 0;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      h2 {
        box-shadow: none;
        margin: 8px;
      }

      .logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        width: 100%;
        border-top: 2px solid #d5d5d5;
        // border-radius: 24px;
        padding: 18px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        border-radius: 24px;
        gap: 16px;

        &:hover {
          transform: scale(1.1);
          // box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
        }

        a {
          border-radius: 24px;
        }

        img {
          width: 70px;
          height: 70px;
          // margin: 8px;
          padding: 8px;
          border-radius: 24px;
          transition: transform 0.3s ease-in-out;
          // background-color: #1a1a1a;
          transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
          object-fit: contain;
          border: 2px solid #f1f1f1;
        }

        img:hover {
          transform: scale(1.1);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.skills-container > h2 {
  margin: 0;
}

.section-portolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  padding: 28px;
  border: 2px solid #f1f1f1;
  border-radius: 24px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);

  .container-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 8px;
    padding: 8px;
    height: fit-content;

    .card-portfolio {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin: 8px;
      // padding: 8px;

      img {
        height: 280px;
        width: auto;
        border-radius: 24px;
        transition: opacity 0.3s ease-in-out;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.46);
        border: 4px solid black;
      }

      .project-picture {
        position: relative;
        border-radius: 24px;
        background: linear-gradient(rgba(0, 0, 0, 20), rgba(0, 0, 0, 20));
      }

      .project-title {
        font-family: "Raleway", sans-serif;
        position: absolute;
        top: 40%;
        color: white;
        font-size: 44px;
        font-weight: 800;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 24px;
      }

      &:hover img {
        opacity: 0.2; /* L'image s'assombrit */
        border-radius: 24px;
      }

      &:hover .project-title {
        opacity: 1; /* Le titre devient visible */
        border-radius: 24px;
      }
    }
  }

  a {
    border-radius: 24px;
    margin: 30px;
    // padding: 14px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }
  }

  .link-more {
    border: 2px solid #f1f1f1;
    padding: 14px;
  }

  @media (max-width: 1395px) {
    .container-portfolio {
      grid-template-columns: 1fr; /* Passe à une seule colonne sur les petits écrans */
    }
  }

  .link-container {
    display: flex;
    padding-right: 20px;
    align-self: end;
    position: relative;
    right: 2%;
  }

  a {
    align-self: center;
  }
}

// contribution github graphique

.contributions {
  margin: 60px auto 150px;
}

.ghThumbNail {
  display: none;
}

.ghCalendarTable {
  color: #000000 !important;
}

.ghCalendarCard {
  background-color: #ffffff !important;
  border: none !important;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.46);
  border-radius: 24px !important;
}

.ghCalendarDayCell[data-level="NONE"] {
  background-color: #ececec !important;
}

.ghCalendarHeader span {
  color: black !important;
}

#gh a {
  margin: 0;
  display: none;
}

#gh img {
  display: none;
}
