// Specific CSS for your home-page
// * {
//   box-shadow: 0 0 0 3px red inset;
// }

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: source code pro, sans-serif;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .svg-wrapper {
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   justify-content: center;

//   .svg-top {
//     position: absolute;
//     top: 0;
//     width: 100%;
//   }

.container-presentation {
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 120px 0;

  .presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    padding: 8px;

    .text-presentation {
      width: 68%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 8px;
      padding: 14px;
      position: relative;
      // box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.46);
    }
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 8px;
  height: fit-content;

  .skills-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 8px;
    padding: 8px;
    z-index: 2;

    .front-end,
    .back-end {
      width: 50%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      // align-items: center;
      margin: 8px;
      padding: 8px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      .logos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        img {
          width: 14%;
          height: auto;
          margin: 16px;
          padding: 16px;
          box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.46);
          border-radius: 24px;
          transition: transform 0.3s ease-in-out;
          background-color: #1a1a1a;
        }

        img:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.skills-container > h2 {
  margin: 0;
}

//   .svg-bottom {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     z-index: 0;
//   }
// }

.section-portolio {
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 120px 0;

  .container-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 8px;
    padding: 8px;
    height: fit-content;

    .card-portfolio {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 8px;
      padding: 8px;

      img {
        height: 280px;
        width: auto;
        border-radius: 24px;
        transition: opacity 0.3s ease-in-out;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.46);
      }

      .project-picture {
        position: relative;
        border-radius: 24px;
        background: linear-gradient(rgba(0, 0, 0, 20), rgba(0, 0, 0, 20));
      }

      .project-title {
        font-family: source code pro, sans-serif;
        position: absolute;
        top: 40%;
        color: white;
        font-size: 44px;
        font-weight: 800;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 24px;
      }

      &:hover img {
        opacity: 0.2; /* L'image s'assombrit */
        border-radius: 24px;
      }

      &:hover .project-title {
        opacity: 1; /* Le titre devient visible */
        border-radius: 24px;
      }
    }
  }
  .link-container {
    display: flex;
    padding-right: 20px;
    align-self: end;
    position: relative;
    right: 2%;
  }

  a {
    align-self: center;
  }
}

// // .svg-down {
// //   position: relative;
// //   top: -1px;
// // }
