.link-github {
  width: fit-content;
  border: 2px solid #f1f1f1;
  border-radius: 24px;
  margin: 36px auto 0;
  padding: 14px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  }
}

.section-details-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  border: 2px solid #f1f1f1;
  border-radius: 24px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  padding: 14px 16px;
}

.details-items {
  display: flex;
  margin: 8px;
  padding: 8px;
  justify-content: space-evenly;
  align-items: stretch;
}

.description {
  width: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    height: 100%;
    text-indent: 54px;
    font-size: 24px;
  }
}

.barre {
  width: 19px;
  border-radius: 24px;
  background-color: #dfdfdf;
  margin: 0 24px;
}

.features {
  width: 50%;
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  li {
    font-size: 1.1em;
    text-align: center;
    border-left: 1px solid #c2c2c2;
    padding-left: 4px;

    p {
      text-indent: 0;
      padding: 0;
      font-size: 16px;
      margin: 0;
    }
  }
}

.dev-count {
  margin: 14px 0;
  padding: 8px;

  p {
    margin: 0 auto;
    text-indent: 0;
  }
}

@media (max-width: 320px) {
}

@media (min-width: 320px) and (max-width: 375px) {
  .section-details-container {
    margin-top: 24px;
  }

  .details-items {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .description {
    width: 100%;
    align-items: center;

    p {
      padding: 12px;
      text-indent: 30px;
      font-size: 12px;
      margin: 0;
    }
  }

  .barre {
    width: 100%;
    height: 8px;
  }

  .features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      font-size: 12px;
      margin: 0;
    }
  }

  .dev-count {
    p {
      font-size: 12px;
      // margin: 0;
    }
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .section-details-container {
    margin-top: 24px;
  }

  .details-items {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .description {
    width: 100%;
    align-items: center;

    p {
      padding: 12px;
      text-indent: 30px;
      font-size: 14px;
      margin: 0;
    }
  }

  .barre {
    width: 100%;
    height: 8px;
  }

  .features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      font-size: 14px;
      margin: 0;
    }
  }

  .dev-count {
    p {
      font-size: 14px;
      // margin: 0;
    }
  }
}

@media (min-width: 425px) and (max-width: 500px) {
  .section-details-container {
    margin-top: 24px;
  }

  .details-items {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .description {
    width: 100%;
    align-items: center;

    p {
      padding: 12px;
      text-indent: 30px;
      font-size: 14px;
      margin: 0;
    }
  }

  .barre {
    width: 100%;
    height: 8px;
  }

  .features {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      font-size: 14px;
      margin: 0;
    }
  }

  .dev-count {
    p {
      font-size: 14px;
      // margin: 0;
    }
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .details-items {
    margin: 0;
    padding: 0;
  }

  .description {
    p {
      font-size: 16px;
      margin: 0;
    }
  }

  .barre {
    width: 10px;
    margin: 0 2px;
  }

  .features {
    li {
      border-left: 1px solid #c2c2c2;
    }

    p {
      font-size: 14px;
      margin: 0;
    }
  }

  .dev-count {
    p {
      font-size: 16px;
      // margin: 0;
    }
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .details-items {
    margin: 0;
    padding: 0;
  }

  .description {
    p {
      font-size: 18px;
      margin: 0;
    }
  }

  .barre {
    width: 10px;
    margin: 0 2px;
  }

  .features {
    li {
      border-left: 1px solid #c2c2c2;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }

  .dev-count {
    p {
      font-size: 18px;
      // margin: 0;
    }
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .details-items {
    margin: 0;
    padding: 0;
  }

  .description {
    p {
      font-size: 20px;
      margin: 0;
    }
  }

  .barre {
    width: 10px;
    margin: 0 2px;
  }

  .features {
    li {
      border-left: 1px solid #c2c2c2;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }

  .dev-count {
    p {
      font-size: 20px;
      // margin: 0;
    }
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .details-items {
    margin: 0;
    padding: 0;
  }

  .description {
    p {
      font-size: 20px;
      margin: 0;
    }
  }

  .barre {
    width: 10px;
    margin: 0 2px;
  }

  .features {
    li {
      border-left: 1px solid #c2c2c2;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }

  .dev-count {
    p {
      font-size: 20px;
      // margin: 0;
    }
  }
}

@media (min-width: 900px) and (max-width: 1024px) {
  .details-items {
    margin: 0;
    padding: 0;
  }

  .description {
    p {
      font-size: 20px;
      margin: 0;
    }
  }

  .barre {
    width: 10px;
    margin: 0 2px;
  }

  .features {
    li {
      border-left: 1px solid #c2c2c2;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }

  .dev-count {
    p {
      font-size: 20px;
      // margin: 0;
    }
  }
}
