

<div class="footer">
  <div class="footer-links">
    <%= link_to "https://www.linkedin.com/in/benalta7892", target: "_blank" do %>
      <i class="fab fa-linkedin"></i>
    <% end %>

    <%= link_to "https://github.com/benalta7892", target: "_blank" do %>
      <i class="fab fa-github"></i>
    <% end %>

    <%# <a href="#"><i class="fab fa-instagram"></i></a> %>
  </div>
  <div class="footer-copyright">
    <p>Localisation : Paris</p>
  </div>
</div>
