<div class="custom-cursor"></div>
<nav>
  <a href="#">Accueil</a>
  <a href="#">À propos</a>
  <a href="#">CV</a>
  <a href="#">Portfolio</a>
  <a href="#">Contact</a>
</nav>
<section class="hero">
  <div class="hero-content">
    <h1 aria-label="Porsche, set free."></h1>
    <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <a href="#discover" class="hero-push-link">
    <img src="ressources/down-arrow.svg" alt="arrow down">
  </a>
</section>
