<%# browser-sync start --proxy "localhost:3000" --files "app/views/**/*.erb, app/assets/stylesheets/**/*.css, app/assets/javascripts/**/*.js, app/models/**/*.rb, app/controllers/**/*.rb" --no-notify --watch --watch-options-ignoreInitial --watch-options-awaitWriteFinish %>
<%# <h1>Benoit <span>ALEXANDRE</span></h1> %>
<%# <p>Développeur web - Full Stack</p> %>
<%#= cl_image_tag @admin_user.avatar.key, alt: "Avatar", class: "avatar-img", height: 300, width: 400, crop: :fill %>
<div class="custom-cursor"></div>
<section class="hero">
  <div class="hero-content">
    <h1 aria-label="Porsche, set free.">Benoit Alexandre</h1>
    <div>
      <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="links">
      <a href="#" class="link">
        <%= image_tag "linkedin.png", alt: "Linkedin" %>
      </a>
      <a href="#" class="link">
        <%= image_tag "github.png", alt: "Github" %>
      </a>
      <a href="#" class="link">
        <%= image_tag "insta.png", alt: "Instagram" %>
      </a>
    </div>
  </div>
</section>
