<%# browser-sync start --proxy "localhost:3000" --files "app/views/**/*.erb, app/assets/stylesheets/**/*.css, app/assets/javascripts/**/*.js, app/models/**/*.rb, app/controllers/**/*.rb" --no-notify --watch --watch-options-ignoreInitial --watch-options-awaitWriteFinish %>
<%# <h1>Benoit <span>ALEXANDRE</span></h1> %>
<%# <p>Développeur web - Full Stack</p> %>
<%#= cl_image_tag @admin_user.avatar.key, alt: "Avatar", class: "avatar-img", height: 300, width: 400, crop: :fill %>
<div class="custom-cursor"></div>
<section class="hero">
  <div class="hero-content">
    <div class="hero-top-content">
      <h1 aria-label="Porsche, set free.">Benoit Alexandre-Tachdjian</h1>
      <p class="subtitle">Développeur web - Full Stack</p>
    </div>
    <div class="links">
      <a href="#" class="link">
        <%= image_tag "linkedin.png", alt: "Linkedin" %>
      </a>
      <a href="#" class="link">
        <%= image_tag "github.png", alt: "Github" %>
      </a>
      <a href="#" class="link">
        <%= image_tag "insta.png", alt: "Instagram" %>
      </a>
    </div>
  </div>
</section>
<div class="container">
  <div class="presentation">
    <h2>Un petit titre</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam blanditiis sit ullam, vitae incidunt praesentium, labore ea culpa debitis, aspernatur voluptatibus facere perferendis dolorem ad adipisci placeat nisi assumenda aperiam?</p>
    <a href="#">En savoir plus</a>
  </div>
  <div class="skills">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nam minus ex sequi dolores obcaecati deleniti illum doloremque, consequuntur maiores corrupti laborum! Praesentium velit suscipit placeat nam, rem laborum voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aut sed saepe repellendus quibusdam ea minus expedita odio atque. Quidem deserunt at ipsam corporis! Sit sunt fugiat dolores adipisci? Nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, est exercitationem nisi magni nam voluptatem. Perspiciatis unde aliquam quod recusandae fugit molestiae et voluptatem, libero, quas modi, ducimus minima pariatur.</p>
  </div>
</div>
