<section class="section-presentation contact" id="first-section">

  <p>
    Les informations détaillées sur mes services sont en cours de rédaction. Pour toute question, n'hésitez pas à me contacter via le formulaire ci-dessous.
  </p>

  <p>
    Je suis actuellement à la recherche d'un employeur pour un contrat de professionnalisation en alternance, afin de suivre une formation de Développeur Web Fullstack en JavaScript à la Wild Code School (Février 2024).
  </p>

  <p>
    Merci pour votre visite. 🙂
  </p>

</section>
