<%= render 'shared/smallbanner', title: "Mon Portfolio", subtitle: "Découvrez mes projets réalisés en tant que développeur full-stack." %>

<div>
  <h2>Portfolio</h2>

  <% @projects.each do |project| %>
    <%= image_tag url_for(project.pictures.first) %>
  <% end %>
</div>
