<section class="section-portolio" id="first-section">
  <h2><span>P</span>rojets réalisés</h2>

  <div class="container-portfolio">

    <% @projects.each do |project| %>
      <%= link_to project_path(project), class: "card-portfolio", data: { turbo: false} do %>

        <div class="project-picture">
          <% if project.pictures.attached? %>
            <%= image_tag url_for(project.pictures.first) %>
          <% else %>
            <p>Aucune image disponible pour ce projet.</p>
          <% end %>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>

        </div>
        <div class="project-title"><%= project.title %></div>

      <% end %>
    <% end %>

  </div>


</section>
