<%= render 'shared/smallbanner', title: "Portfolio", subtitle: "Découvrez tous mes projets." %>

<section class="section-portolio">

  <div class="container-portfolio">

    <% @projects.each do |project| %>
      <%= link_to project_path(project), class: "card-portfolio", data: { turbo: false} do %>

        <div class="project-picture">
          <% if project.pictures.attached? %>
            <%= image_tag url_for(project.pictures.first) %>
          <% else %>
            <p>Aucune image disponible pour ce projet.</p>
          <% end %>
        </div>
        <div class="project-title"><%= project.title %></div>

      <% end %>
    <% end %>

  </div>


</section>
