<%= render 'shared/smallbanner', title: "Mon Portfolio", subtitle: "Découvrez mes projets réalisés en tant que développeur full-stack." %>


<%# <div class="container-projects"> %>
<%# <h2>Portfolio</h2> %>

<%# <div class="carousel" data-controller="carousel"> %>

<!-- Boutons de navigation du carrousel -->
<%# <div class="prev-btn items-center"> %>
<%# <button data-action="click->carousel#previous" type="button" class="btn-carousel"><i class="fa-solid fa-arrow-left"></i> %>
<%# </button> %>
<%# </div> %>

<%# <div class="next-btn items-center"> %>
<%# <button data-action="click->carousel#next" type="button" class="btn-carousel"><i class="fa-solid fa-arrow-right"></i> %>
<%# </button> %>
<%# </div> %>


<%# <% @projects.each do |project| %> %>
  <%# <div class="carousel-project"> %>
  <%# <div class="item"> %>
  <%# <% if project.pictures.attached? %> %>
  <%# <div data-carousel-target="image" class="project-pictures"> %>
  <%# <%= image_tag url_for(project.pictures.first) %> %>
  <%# </div> %>
  <%# <% else %> %>
  <%# <p>Aucune image disponible pour ce projet.</p> %>
  <%# <% end %> %>
  <%# <div class="project-title"><%= project.title %></div>
%>
<%# </div> %>
<%# <% end %> %>
<%# </div> %>

<%# </div> %>
