.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.avatar-presentation {
  // width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
  padding: 24px;

  img {
    width: clamp(134px, 16vw, 348px);
    height: auto;
    border-radius: 30% 70% 62% 38% / 30% 30% 70% 70%;
    border: 4px solid;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 425px) {
  .avatar-presentation {
    margin: 4px;
    padding: 4px;
    position: absolute;
    top: 4px;
    right: 4px;

    img {
      width: clamp(90px, 1vw, 322px);
      margin: 4px;
    }
  }
}
