.darkmode-toggle {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.label-darkmode {
  width: 125px;
  height: 50px;
  position: relative;
  display: block;
  background: #ebebeb !important;
  border-radius: 50px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #f1f1f1;
}

.label-darkmode:after {
  content: "";
  width: 43px;
  height: 43px;
  position: absolute;
  top: 2px;
  left: 2.5px;
  background: linear-gradient(180deg, #ffcc89, #d8860b) !important;
  border-radius: 45px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.input-btn-darkmode {
  width: 0;
  height: 0;
  visibility: hidden;
}

.input-btn-darkmode:checked + .label-darkmode {
  background: #242424 !important;
}

.input-btn-darkmode:checked + .label-darkmode:after {
  left: 119.5px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a) !important;
}

.label-darkmode:active:after {
  width: 65px;
}

.label-darkmode svg {
  position: absolute;
  width: 30px;
  top: 8px;
  z-index: 100;
}

.label-darkmode svg.sun {
  left: 8px;
  fill: #fff !important;
  transition: 0.3s;
}

.label-darkmode svg.moon {
  left: 83px;
  fill: #7e7e7e !important;
  transition: 0.3s;
}

.input-btn-darkmode:checked + .label-darkmode svg.sun {
  fill: #7e7e7e !important;
}

.input-btn-darkmode:checked + .label-darkmode svg.moon {
  fill: #fff !important;
}

@media (max-width: 651px) {
  .label-darkmode {
    width: 100px;
    height: 43px;
    border-radius: 40px;
  }

  .label-darkmode:after {
    width: 35px;
    height: 35px;
    top: 2px;
    left: 2px;
    border-radius: 35px;
  }

  .input-btn-darkmode:checked + .label-darkmode:after {
    left: 94px;
  }

  .label-darkmode:active:after {
    width: 50px;
  }

  .label-darkmode svg {
    width: 24px;
    top: 8px;
  }

  .label-darkmode svg.sun {
    left: 7px;
  }

  .label-darkmode svg.moon {
    left: 65px;
  }
}

.dark-mode {
  background-color: #222;
  color: #ddd6d5 !important;

  nav {
    background-color: #222;
    color: #ddd6d5;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.4s ease, transform 0.3s ease;
  }
  .hamburger {
    background: #222;

    span {
      background: #ddd6d5;
    }
  }

  .logo {
    &:hover {
      box-shadow: none;
      transform: none;
    }
  }

  a {
    color: #ddd6d5;
    background-color: #222;

    &:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
        0 0 40px rgba(255, 255, 255, 0.2);
      transform: scale(1.05);
    }
  }

  nav .nav-links a {
    color: #ddd6d5;
    background-color: #222;

    &:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
        0 0 40px rgba(255, 255, 255, 0.2);
      transform: scale(1.05);
    }
  }

  .hero .hero-content .hero-top-content h1 span:last-of-type {
    color: #fff;
  }

  h1 {
    color: #ebe8e6;
  }

  .subtitle {
    color: #ddd6d5;
  }

  .hero .hero-content .hero-top-content a,
  .small-hero .small-hero-content .small-hero-top-content a {
    color: #ddd6d5;
    background-color: #222;

    &:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
        0 0 40px rgba(255, 255, 255, 0.2);
      transform: scale(1.05);
    }
  }

  .hero .hero-content .links .link {
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    img {
      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
          0 0 40px rgba(255, 255, 255, 0.2);
        transform: scale(1.05);
      }
    }
  }

  .small-hero .small-hero-content .links .link {
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    img {
      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
          0 0 40px rgba(255, 255, 255, 0.2);
        transform: scale(1.05);
      }
    }
  }

  #scroll-down,
  #scroll-up {
    background-color: #222;

    &:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
        0 0 40px rgba(255, 255, 255, 0.2);
      transform: scale(1.05);
    }
  }

  .fa-solid {
    color: #ddd6d5 !important;
    background-color: #222 !important;
  }

  header::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #222 100%);
    z-index: 0;
  }

  .section-presentation {
    background-color: #222;
    color: #ddd6d5;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.4s ease, transform 0.3s ease;

    a {
      color: #ddd6d5;
      background-color: #222;

      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
          0 0 40px rgba(255, 255, 255, 0.2);
        transform: scale(1.05);
      }
    }

    p span {
      font-weight: 1000;
    }
  }

  .section-skills {
    background-color: #222;
    color: #ddd6d5;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.4s ease, transform 0.3s ease;

    a {
      color: #ddd6d5;
      background-color: #222;

      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
          0 0 40px rgba(255, 255, 255, 0.2);
        transform: scale(1.05);
      }
    }

    .logos {
      border-bottom: none;
    }

    .logos img {
      background-color: #e6e6e6;

      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
          0 0 40px rgba(255, 255, 255, 0.2);
        transform: scale(1.05);
      }
    }

    .popover-content {
      background-color: #222;
      color: #ddd6d5;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
        0 0 60px rgba(255, 255, 255, 0.05);
      transition: box-shadow 0.4s ease, transform 0.3s ease;
    }
  }

  .section-portolio {
    background-color: #222;
    color: #ddd6d5;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.4s ease, transform 0.3s ease;

    a {
      color: #ddd6d5;
      background-color: #222;

      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
          0 0 40px rgba(255, 255, 255, 0.2);
        transform: scale(1.05);
      }
    }
    .carousel-slide .carousel-image-container .fa-arrow-up-right-from-square {
      color: #ddd6d5;
      background-color: #222;
    }

    .btn-carousel {
      background-color: #222;
      color: #ddd6d5;

      .custom-arrow {
        filter: invert(1);
      }

      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
          0 0 40px rgba(255, 255, 255, 0.2);
        transform: scale(1.05);
      }
    }
  }

  .custom-form {
    background-color: #222;
    color: #ddd6d5;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.4s ease, transform 0.3s ease;

    input {
      background-color: #333;
      color: #ddd6d5;
      border: 1px solid #ddd6d5;
    }

    .contact-input .textarea {
      background-color: #333;
      color: #ddd6d5;
      border: 2px solid #ddd6d5;
    }

    .button-submit {
      background-color: #222;
      color: #ddd6d5;

      &:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
          0 0 40px rgba(255, 255, 255, 0.2);
        transform: scale(1.05);
      }
    }
  }

  .footer {
    background-color: #222;
    color: #ddd6d5;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.4s ease, transform 0.3s ease;

    a {
      opacity: 0.4;

      &:hover {
        opacity: 1;
        box-shadow: none;
      }
    }

    p {
      color: #ddd6d5;

      &:hover {
        color: inherit;
      }
    }
  }

  .cv-description,
  .section-parcours,
  .section-experiences {
    background: #222;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.4s ease, transform 0.3s ease;
  }

  .cv-download img {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.4s ease, transform 0.3s ease;
  }

  .box-timeline {
    background: linear-gradient(0deg, #222 0%, #222 6%, #38b6ff 100%);
  }

  .box {
    background: #222;
    color: #ddd6d5;

    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.4s ease, transform 0.3s ease;
  }

  .rond {
    border: 2px solid #222;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.4s ease, transform 0.3s ease;
  }

  .ligne {
    background: #222;
  }

  .carousel-mask-left {
    background: linear-gradient(90deg, #222 50%, rgba(255, 255, 255, 0) 100%);
  }

  .carousel-mask-right {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #222 50%);
  }

  .education-btn .button-edit,
  .button-delete {
    background: #222;
  }

  .section-swiper {
    background: #222;
    color: #ddd6d5;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
  }

  .swiper-slide img {
    background: #333;
  }

  .link-github {
    background: #222;
    color: #ddd6d5;

    &:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
        0 0 40px rgba(255, 255, 255, 0.2);
      transform: scale(1.05);
    }

    .dark-mode a {
      &:hover {
        pointer-events: none;
        box-shadow: none;
        transform: none;
      }
    }
  }

  .btn-carousel-next,
  .btn-carousel-prev {
    background: #222;
    color: #ddd6d5;

    &:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3),
        0 0 40px rgba(255, 255, 255, 0.2);
      transform: scale(1.05);
    }
    .custom-arrow {
      filter: invert(1);
    }
  }

  .section-details-container {
    background: #222;
    color: #ddd6d5;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
      0 0 60px rgba(255, 255, 255, 0.05);
    transition: box-shadow 0.4s ease, transform 0.3s ease;
  }

  @media screen and (max-width: 1180px) {
    .ligne {
      background: #38b6ff;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 40px rgba(255, 255, 255, 0.08),
        0 0 60px rgba(255, 255, 255, 0.05);
      transition: box-shadow 0.4s ease, transform 0.3s ease;
    }
  }

  .ghCalendarHeader span {
    color: #ddd6d5 !important;
  }

  .ghCalendarLabel {
    color: #ddd6d5 !important;
  }

  .ghCalendarCard {
    background: #222 !important;
    border: 2px solid #f1f1f1 !important;
  }

  .ghCalendarDayCell[data-level="NONE"] {
    background-color: #282828 !important;
  }
}

.logo-dark {
  display: none;
}

body.dark-mode .logo-light {
  display: none;
}

body.dark-mode .logo-dark {
  display: inline;
}
