h1 {
  font-family: source code pro, sans-serif;
  font-size: clamp(16px, 5vw, 40px);
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(to right, #cf995f, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  font-family: source code pro, sans-serif;
  font-size: clamp(10px, 2vw, 28px);
  margin: 40px;
  font-weight: bold;
  color: #023047;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.46);
  padding: 14px;
  border-radius: 24px;
  width: fit-content;
  align-self: center;
}

h4 {
  font-family: source code pro, sans-serif;
  font-size: clamp(8px, 2vw, 24px);
  font-weight: bold;
}

.subtitle {
  font-weight: 200;
  font-size: clamp(6px, 3vw, 24px);
  color: #cf995f;
  margin: 0;
  display: inline-block;
  font-weight: 400;
}

p {
  text-align: center;
  font-size: clamp(12px, 2vw, 28px);

  span {
    font-weight: 800;
  }
}

a {
  text-decoration: none;
  color: #03243f;
  align-self: flex-end;
  font-weight: bold;
  font-size: 18px;
  height: fit-content;
}
