.footer {
  // background: #ffd9ad;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 138px;
  padding: 0 24px 14px;
  color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  -webkit-box-shadow: 0px -4px 8px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px -4px 8px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 0px -4px 8px 2px rgba(0, 0, 0, 0.04);
  border: 2px solid #f1f1f1;

  p {
    text-align: start;
    font-size: 14px;
    margin: 4px;
    text-indent: 0;
    margin-bottom: 0;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #d23333;
}

@media (max-width: 425px) {
  .footer {
    align-items: flex-end;
    padding: 0 20px 20px;
  }
}
