nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #fafafa;
  box-shadow: inset 0px -1px 0px #c5c5c6;
  justify-content: space-between;
  z-index: 1000;

  .logo-container {
    display: flex;
    align-items: center;
    margin: 0 14px;
    padding: 8px;

    .logo {
      font-size: 34px;

      @media (max-width: 500px) {
        font-size: 24px;
      }
    }
  }

  .main-navlinks {
    display: none;
  }

  .nav-links {
    display: flex;
    z-index: 0;

    a {
      color: #000;
      text-decoration: none;
      font-size: clamp(14px, 2vw, 20px);
      margin: 0 15px;
      position: relative;
      font-weight: bold;
      border: 2px solid #f1f1f1;
      border-radius: 24px;
      padding: 14px;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      background: #fff;
      text-align: center;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
      }
    }
  }

  @media (max-width: 650px) {
    padding: 14px 14px;
    position: relative;

    .main-navlinks {
      display: flex;
    }

    /* Hamburger Menu */
    .hamburger {
      width: 20px;
      height: 20px;
      cursor: pointer;
      border: none;
      display: flex;
      background: #fafafa;
      align-items: center;
      position: relative;

      span {
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;

        &:nth-child(1),
        &:nth-child(3) {
          transition: transform 0.3s 0.15s ease-out;
        }

        &:nth-child(1) {
          transform: translateY(7px);
        }

        &:nth-child(3) {
          transform: translateY(-7px);
        }
      }

      &.open {
        span:nth-child(1) {
          transform: translateY(0) rotate(135deg);
        }

        span:nth-child(2) {
          opacity: 0;
          transition: opacity 0s ease-out;
        }

        span:nth-child(3) {
          transform: translateY(0) rotate(-135deg);
        }
      }
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      position: absolute;
      top: 100%;
      right: 0;
      padding: 8px;
      transform: translateX(100%);
      opacity: 0;
      pointer-events: none;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;

      &.open {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
      }

      a {
        margin: 8px 0;
      }
    }
  }
}
