nav {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

nav .logo img {
  width: 55px;
  height: auto;
  position: relative;
  left: 10px;
}

nav .logo {
  font-size: 34px;
  margin: 14px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: #111;
  text-decoration: none;
  font-size: clamp(14px, 2vw, 20px);
  margin: 0 15px;
  position: relative;
  font-weight: bold;
  border: 2px solid #f1f1f1;
  border-radius: 24px;
  padding: 14px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  }
}

// .nav-links a::before {
//   content: "";
//   display: block;
//   position: absolute;
//   background: #cf995f;
//   width: 100%;
//   height: 1px;
//   bottom: -2px;
//   left: 0;
//   transform-origin: left;
//   transform: scaleX(0%);
//   transition: transform 0.2s ease-out;
// }

// .nav-links a:hover::before {
//   transform: scaleX(100%);
//   background: #cf995f;
// }
