:root {
  --items-per-page: 4;
}

.carousel-logos {
  width: 100%;
  margin: 0 auto;
  // background-color: bisque;
}

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-container {
  /* Prevent logos from wrapping to the next line */
  white-space: nowrap;
  display: flex;
  gap: 100px;
  padding: 4px;
  height: 124px;

  img {
    width: 80px;
    height: 80px;
    margin: 8px;
    padding: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    transition: transform 0.3s ease-in-out;
    -o-object-fit: contain;
    object-fit: contain;
    border: 2px solid #f1f1f1;
  }
}

.carousel-mask-left,
.carousel-mask-right {
  position: absolute;
  top: 0;
  width: 20%; /* Ajuste selon la taille du fondu désiré */
  height: 100%;
  pointer-events: none; /* Laisse passer les clics */
  z-index: 1;
}

.carousel-mask-left {
  left: 0;
  height: 150px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

.carousel-mask-right {
  right: 0;
  height: 150px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
}

// .carousel {
//   width: 100%;
//   overflow: hidden;
//   position: relative;
// }

// .carousel-logos {
//   position: relative;
//   margin: 0 auto;
// }

// .carousel-logos::before,
// .carousel-logos::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: 120px; /* Ajustez la largeur du fondu */
//   z-index: 1;
//   pointer-events: none;
// }

// .carousel-logos::before {
//   left: 0;
//   background: linear-gradient(to right, white, transparent);
// }

// .carousel-logos::after {
//   right: 0;
//   background: linear-gradient(to left, white, transparent);
// }

// .carousel-container {
//   white-space: nowrap;
//   display: flex;
//   gap: 100px;
//   padding: 4px;
// }
