.small-hero {
  width: 100%;
  height: 100vh;
  // background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  //   url(https://res.cloudinary.com/djgk65kdl/image/upload/v1727459378/jvejyxzmp8r1isdpxhk7.jpg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

  .small-hero-content {
    height: calc(100% - 82px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 34px;

    .small-hero-top-content {
      height: fit-content;
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      // top: 50px;
      left: 12%;
      gap: 8px;
      text-shadow: 1px 1px 4px #1a2c37;

      a {
        color: black;
        border: 2px solid white;
        margin: 0;
        padding: 12px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        background-color: #fff;
        text-shadow: none;
        border: 2px solid #f1f1f1;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
        }
      }

      h1::first-letter {
        font-family: "Blanka", sans-serif;
        color: #38b6ff;
        font-size: clamp(23px, 16.6vw, 120px);
      }
    }

    .links {
      // position: relative;
      // left: 4%;
      // top: -38px;
      height: fit-content;
      width: fit-content;
      display: flex;
      flex-direction: column;
      // opacity: 0.8;
      gap: 20px;

      .link {
        // box-shadow: 0px 0px 28px -7px #000000;
        margin: clamp(2px, 0.5vw, 8px);
        border-radius: 50%;

        img {
          width: clamp(36px, 4vw, 50px);
          height: auto;
          border: 2px solid #f1f1f1;
          border-radius: 24px;
          transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

          &:hover {
            transform: scale(1.1);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .small-hero {
    .small-hero-content {
      .small-hero-top-content {
        left: 0;
      }
    }
  }
}

@media (max-width: 584px) {
  .small-hero {
    .small-hero-content {
      .small-hero-top-content {
      }
    }
  }
}
